$close: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGRhdGEtbmFtZT0iTGF5ZXIgMSIgdmlld0JveD0iMCAwIDE1IDE1Ij48cGF0aCBmaWxsPSIjZmZmIiBkPSJNOC40OCA3LjVsNi4zMS02LjMxQS42OS42OSAwIDAgMCAxNSAuN2EuNjguNjggMCAwIDAtLjIxLS40OS42OS42OSAwIDAgMC0xIDBMNy41IDYuNTIgMS4xOS4yQS42OS42OSAwIDAgMCAuNyAwYS42OC42OCAwIDAgMC0uNS4yMS43LjcgMCAwIDAgMCAxTDYuNTIgNy41LjIgMTMuODFhLjcuNyAwIDAgMC0uMi40OS42OS42OSAwIDAgMCAuMi40OS43LjcgMCAwIDAgLjUuMjEuNjkuNjkgMCAwIDAgLjQ5LS4yMUw3LjUgOC40OGw2LjMxIDYuMzFhLjcuNyAwIDAgMCAuNDkuMi42OC42OCAwIDAgMCAuNDktLjIuNy43IDAgMCAwIDAtMXoiLz48L3N2Zz4=");
;

.close-full {
	width: 20px;
	height: 20px;
  background-size: 20px 20px;
  background: $close;
  background-repeat: no-repeat;
}