<aritcle class="project">
  <div class="project-container">
    <div class="project-image-container">
      {{> pictureImage}}
    </div>

    <div class="project-details">
      <h3 class="project-title h3">{{title}}</h3>
      <div class="project-description">
        {{description}}
      </div>
    </div>
  </div>
</aritcle>