<div class="page-header-container">
  <button id="sidebar-trigger-button" type="button" name="button" class="sidebar-trigger-button" aria-label="open menu">
    <div class="sidebar-trigger-button-icon settings-full"></div>
  </button>

  <h2 class="header-title header">jamin cheung</h2>
</div>

<div class="page-header-spacer"></div>