{{> sectionHeader title="work experience"}}

<article class="job">
  {{> workExperience/jobHeader
    title="senior software engineer"
    company="capsule"
    timeframe="December 2021 - Present"
    startDate="2021-12"
  }}

  <ul class="job-tasks">
    <li>Build internal tooling using Node and React for pharmacists and technicians to process and fulfill patient prescriptions.</li>
    <li>Lead a project focused on building the user interface for processing prescriptions. Duties included restructuring the existing codebase, coordinating and prioritizing the product feature requests, and managing the implementation of requirements by breaking down and assigning appropriate tasks to other engineers.</li>
  </ul>
</article>

<article class="job">
  {{> workExperience/jobHeader
    title="lead software engineer"
    company="macy's"
    timeframe="October 2020 - November 2021"
    startDate="2020-10"
  }}

  <ul class="job-tasks">
    <li>Architect client-side code of product detail pages (PDP) for both Macy’s and Bloomingdale’s to account for reusability and easy mutability due to transient business requirements.</li>
    <li>Coordinate PDP development efforts across all participating parties to ensure proper code execution of all projects within planned timeframes.</li>
  </ul>
</article>

<article class="job">
  {{> workExperience/jobHeader
    title="lean lab manager / senior UI developer"
    company="bloomingdale's"
    timeframe="December 2018 - September 2020"
    startDate="2018-12"
  }}

  <ul class="job-tasks">
    <li>Lead team of 8 comprised of multiple roles to craft and deliver stories for PDP.</li>
    <li>Ensure code quality and maintainability through code reviews.</li>
  </ul>
</article>

<article class="job">
  {{> workExperience/jobHeader
    title="UI developer"
    company="bloomingdale's"
    timeframe="april 2017 - december 2018 (1 year 8 months)"
  }}

  <ul class="job-tasks">
    <li>Work directly with Product Manager, UX, UI, and QA roles in a small lean lab team of 5 to 6
    members to A/B test new features and customer experiences. Experiments within mobile lean
    lab in 2017 resulted in an estimated increase in revenue of $11 million.</li>
    <li>Develop redesigned product detail page for desktop. Project consisted of rewriting client-side
    code with Backbone/Marionette and adding responsive behavior.</li>
  </ul>
</article>

<article class="job">
  {{> workExperience/jobHeader
    title="junior UI developer"
    company="bloomingdale's"
    timeframe="february 2016 - april 2017 (1 year 2 months)"
  }}

  <ul class="job-tasks">
    <li>Coordinate with team members across 2-week iterations from initial planning stages with
    feasibility assessment through to confirmation of successful deployment to production.</li>
    <li>Design and build responsive front-end components with object-oriented approach and
    supported with behavior driven unit testing. Utilized tools and libraries include javascript
    ES2015/ES6+, Backbone/Marionette, Jasmine, Sass, Webpack, and Node.</li>
  </ul>
</article>
