{{> sectionHeader title="work experience"}}

<article class="job">
  {{> workExperience/jobHeader
    title="lean lab manager / senior UI developer"
    company="bloomingdale's"
    timeframe="December 2018 - Present"
  }}

  <ul class="job-tasks">
    <li>Lead team of 8 comprised of multiple roles to craft and execute stories for product detail pages (PDP).</li>
    <li>Architect core client-side code for PDP to account for reusability and easy mutability due to transient business requirements.</li>
    <li>Ensure code quality and maintainability through code reviews.</li>
  </ul>
</article>

<article class="job">
  {{> workExperience/jobHeader
    title="UI developer"
    company="bloomingdale's"
    timeframe="april 2017 - december 2018 (1 year 8 months)"
  }}

  <ul class="job-tasks">
    <li>Work directly with Product Manager, UX, UI, and QA roles in a small lean lab team of 5 to 6
    members to A/B test new features and customer experiences. Experiments within mobile lean
    lab in 2017 resulted in an estimated increase in revenue of $11 million.</li>
    <li>Develop redesigned product detail page for desktop. Project consisted of rewriting client-side
    code with Backbone/Marionette and adding responsive behavior.</li>
  </ul>
</article>

<article class="job">
  {{> workExperience/jobHeader
    title="junior UI developer"
    company="bloomingdale's"
    timeframe="february 2016 - april 2017 (1 year 2 months)"
  }}

  <ul class="job-tasks">
    <li>Coordinate with team members across 2-week iterations from initial planning stages with
    feasibility assessment through to confirmation of successful deployment to production.</li>
    <li>Design and build responsive front-end components with object-oriented approach and
    supported with behavior driven unit testing. Utilized tools and libraries include javascript
    ES2015/ES6+, Backbone/Marionette, Jasmine, Sass, Webpack, and Node.</li>
  </ul>
</article>
