{{> sectionHeader title="contact me"}}

<div class="contact-links">
  {{> contactMe/contactLink
    url="http://www.github.com/jaminc"
    icon="github"
    title="github"
  }}

  {{> contactMe/contactLink
    url="mailto:jamincheung1@gmail.com"
    icon="email"
    title="email"
  }}

  {{> contactMe/contactLink
    url="http://www.linkedin.com/in/jamincheung"
    icon="linkedin"
    title="linkedIn"
  }}

  {{> contactMe/contactLink
    url="#"
    icon="resume"
    title="download my resume"
  }}
</div>