{{> sectionHeader title="about me"}}

<p>I’m a New York-based web developer experienced in Ruby on Rails, JavaScript, React/Redux, and much more. I love the problem solving involved with programming and am eager to further improve my skills.</p>